{# template nous rejoindre #}

{% extends "layout.html.twig" %}

{% block title_img img("title/img_inscription.png") %}
{% block page %}
<fieldset>
    <legend>Tutoriel</legend>
    <center>{{ img("config.png") }}</center><br><br>
    Pour nous rejoindre, il suffit de telecharger le client dofus 1.29, puis la config et la mettre dans le dossier Dofus. Et enfin inscrivez-vous {{ link("ici", "account", "register") }}.
</fieldset><br/>

<fieldset>
    <legend>Téléchargements</legend>
    {{ link(img("download.png"), "home", "downloadConf") }} {{ link("Config.xml", "home", "downloadConf") }}<br/>
    <a href="{{ config.server.dofus }}">{{ img("download.png") }}</a> <a href="{{ config.server.dofus }}">Client Dofus 1.29</a>
</fieldset>
{%endblock %}