{# template de messages de succès #}
{% extends "layout.html.twig" %}

{% block title_img img("title/" ~ image ~ ".png") %}
{% block page %}
    <div class="verifNO">
        <h3>{{ img("devtool/error.png") }} {{ titre }}</h3>
        {{ message|raw }}
        <hr/>
        <meta http-equiv="refresh" content="5;url={{ url(controller, method) }}" />
        {{ link("ne pas patienter", controller, method) }}
    </div>
{% endblock %}