{# empty Twig template #}

{% extends "layout.html.twig" %}

{% block title_img img("title/img_ladder.png") %}
{% block page %}
    {% if not cacheData %}
        {% filter save(name) %}
        <table style="width: 95%;margin: auto;">
            <tr>
                <th width="8"></th>
                <th>Nom</th>
                <th width="30">{{ img("heads/SmallHead_0.png") }}</th>
                <th>Level</th>
                <th>{{ link("XP", "ladder", "index?order=xp") }}</th>
                <th>{{ link("Kamas", "ladder", "index?order=kamas") }}</th>
            </tr>
            {% set i = 1 %}
            {% for perso in persos %}
                {% if i <= 3 %}
                <tr class="pos{{ i }}">
                    <td>{{ img("trophy/trophy_" ~ i ~ ".png") }}</td>
                {% else %}
                <tr>
                    <td>{{ i }}</td>
                {% endif %}
                    <td>{{ perso.name }}</td>
                    <td>{{ img(getHead(perso.class, perso.sexe)) }}</td>
                    <td>{{ perso.level }}</td>
                    <td>{{ perso.xp }}</td>
                    <td>{{ perso.kamas }}</td>
                </tr>
                {% set i = i + 1 %}
            {% else %}
                <center><font color="red">Aucuns personnages sur le serveur</font></center>
            {% endfor %}
        </table>
        {% endfilter %}
    {% else %}
        {{ cacheData|raw }}
    {% endif %}
{% endblock %}