{% filter save(name) %}
<div id="textContent">
    <div id="cadre" style="background-image:url('{{ img_url("cadres/backCadre_1.png") }}')">
	<div style="position:absolute;margin-top:9px;">Serveur : 
	    {% if s_online %}
		<span style="color:#11ff00">OnLine</span>
	    {% else %}
		<span style="color:#FF0000">OffLine</span>
	    {% endif %}
	</div>
	<div style="position:absolute;margin-top:30px;">Base de données :
	    {% if db_online %}
		<span style="color:#11ff00">OnLine</span>
	    {% else %}
		<span style="color:#ff0000">OffLine</span>
	    {% endif %}
	</div>
	<div style="position:absolute;margin-top:52px;">Comptes :  
	    <b>{{ c_c }}</b>
	</div>
	<div style="position:absolute;margin-top:73px;">Personnages :  
	    <b>{{ c_p }}</b>
	</div>
	<div style="position:absolute;margin-top:94px;">Guildes : 
	    <b>{{ c_g }}</b>
	</div>
	<div style="position:absolute;margin-top:115px;">Connectés : 
	    <b>{{ co }}</b>
	</div>
    </div>
</div>
{% endfilter %}